<div>
  <!-- ko with: card -->
  <div>
    <div class="card-component">
      <div style="display: flex; justify-content: space-between; align-items: center">
        <h4 class="card-title" data-bind="text: title"></h4>
        <button class="btn btn-danger" data-bind="click: () => removeCard()">
          <span>Remove</span>
        </button>
      </div>
      <domain-select-widget
        params="
        node: {
          config: {
            options: nodegroupOptions,
              multiple: false
            },
            configKeys: configKeys
          },
          config: {
            label: 'Selected Nodegroup',
          },
          value: selectedNodegroup,
          loading: false,
          form: $data,
          pageVm: $root
        "
      ></domain-select-widget>
      <domain-radio-widget
        params="
          node: {
            config: {
              options: tileManagedOptions,
            },
            configKeys: configKeys
          },
          config: {
            label: 'Tiles Managed',
          },
          value: selectedTileManaged,
          loading: false,
          form: $data,
          pageVm: $root
        "
      ></domain-radio-widget>
      <domain-checkbox-widget
        params="
          node: {
            config: {
              options: hiddenNodeOptions,
            },
            configKeys: configKeys
          },
          config: {
            label: 'Hidden Nodes: This will only show nodes that are visible from the Arches Designer',
            options: hiddenNodeOptions,
          },
          value: selectedHiddenNodes,
          loading: false,
          form: $data,
          pageVm: $root
        "
      ></domain-checkbox-widget>
      <workflow-component-abstract
        params="visible: cardHasLoaded, component: workflowComponentAbstract()"
      ></workflow-component-abstract>
    </div>
  </div>
  <!-- /ko -->
</div>
